{% extends 'base.html' %}
{% load static %}

{% block title %}
Rental history
{% endblock title %}

{% block content %}
{% if messages %}
        {% for messages in messages %}
            {% if 'info' in messages.tags %}
                {% include 'components/alert.html' with is_info=True title="Success" body=message %}
            {% elif 'error' in messages.tags %}
                {% include 'components/alert.html' with is_info=False title="Error" body=message %}
            {% endif %}
        {% endfor %}
{% endif %}

        {% include 'components/header.html' with title=object.title.title description=object.title.publisher.name author=object.title.author.formatted_name is_go_back=True %}



{%  if object %}
    {% if object_list %}
                 <div class="overflow-x-auto">
            <table class="w-full text-md text-left text-gray-500 dark:text-gray-400">
                <thead class="text-md text-gray-700 uppercase dark:bg-gray-700 dark:text-gray-400">
                    <tr class="border">
                        <th scope="col" class="py-3 px-6">
                            #
                        </th>
                        <th scope="col" class="py-3 px-6">
                            User
                        </th>
                        <th scope="col" class="py-3 px-6">
                            book id
                        </th>
                           <th scope="col" class="py-3 px-6">
                            isbn
                        </th>
                        <th scope="col" class="py-3 px-6">
                            status
                        </th>
                        <th scope="col" class="py-3 px-6">
                            start
                        </th>
                        <th scope="col" class="py-3 px-6">
                            end
                        </th>
                        <th scope="col" class="py-3 px-6">
                            resolved
                        </th>
                              <th scope="col" class="py-3 px-25">
                            update status
                        </th>

                    </tr>
                </thead>
                <tbody>
                    {% for obj in object_list %}
                        <tr class="border-b dark:bg-gray-800 dark:border-gray-700 {% if not obj.is_read  %}font-bold{% endif %}">

                        <td scope="row" class="py-4 px-6 font-medium text-gray-900 dark:text-white">
                            {{forloop.counter}}
                        </td>
                        <td class="py-4 px-6">
                            {{obj.customer.username}}
                        </td>
                        <td class="py-4 px-6">
                            {{obj.book.id}}
                        </td>
                       <td class="py-4 px-6">
                            {{obj.book.ISBN}}
                        </td>
                        <td class="py-4 px-6">
                            {{obj.status_text}}
                        </td>
                        <td class="py-4 px-6">
                            {{obj.rent_start_date}}
                        </td>
                        <td class="py-4 px-6">
                            {{obj.rent_start_date}}
                        </td>
                        <td class="py-4 px-6">
                            {% if obj.is_closed %}
                                <i class="fa-solid fa-check fa-lg text-teal-300" style="margin-left: 20px;"></i>
                            {% else %}
                                <i class="fa-solid fa-xmark fa-lg text-red-500" style="margin-left: 20px;"></i>
                            {% endif %}
                        </td>
                                <td class="py-6 px-6">
                        {% include 'components/buttons/select_button.html' with href=obj.get_absolute_url  %}
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                 <div class="mt-6 h-12">
                     <a href="{% url 'rentals:download' book_id %}" class="p-3 bg-rose-400 hover:bg-rose-500 text-white rounded-lg">Download</a>
                 </div>
            </div>

    {% else %}
        <p style="font-family:  sans-serif; font-size: 1.2em; font-weight: bold; color: #333;">
        No rental records exist for this book. Please go back to a previous page!
    </p>
            <div style="position: absolute; left: 50%;top: 47%; transform: translateX(-50%); width: 45%; text-align: center;">
        <img src="{% static 'images/detailrentals1.png' %}" alt="Not found photo">
    </div>
    {% endif %}


{%  else %}
             <p style="font-family:  sans-serif; font-size: 1.2em; font-weight: bold; color: #333;">
        No rental records exist for this book. Please go back to a previous page!
    </p>
        <div style="position: absolute; left: 50%;top: 47%; transform: translateX(-50%); width: 45%; text-align: center;">
        <img src="{% static 'images/detailrentals1.png' %}" alt="Not found photo">
    </div>
{% endif %}



{% endblock content %}
