{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block scripts %}
    <script src="{% static 'books/main.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
search rentals
{% endblock title %}


{% block content %}
<div class="bg-gradient-to-r from-indigo-600 via-purple-600 to-pink-600 text-white rounded-xl mb-10 h-[80px] flex justify-center items-center px-6" id="head">
    <label for="{{ form.search.id_for_label }}" class="text-3xl text-white-600 dark:text-white">Check rental status</label>
</div>

<div class="flex justify-center items-center">
<form style="width: 600px;" class="px-5 flex flex-col" id="search-form" method="POST" autocomplete="off">
        {% csrf_token %}
        {{ form.search|add_class:'bg-slate-100 dark:bg-slate-300 text-slate-800 rounded-lg p-3 drop-shadow-xl ' }}
    </form>
</div>

    <div style="position: absolute; left: 20%;top: 50%; transform: translateX(-50%); width: 45%; text-align: center;">
    <img src="{% static 'images/mainrental1.png' %}" alt="Homepage photo">
</div>

{% endblock content %}