{% extends 'base2.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
About
{% endblock title %}

{% block content %}
<div class="bg-gradient-to-r from-indigo-600 via-purple-600 to-pink-600 text-white rounded-xl mb-10 h-[80px] flex justify-center items-center px-6" id="head">
    <label for="{{ form.search.id_for_label }}" class="text-3xl text-white-600 dark:text-white">About</label>
</div>

<div class="container mx-auto mt-8 px-4 grid grid-cols-1 md:grid-cols-2 gap-8">
   <div>
       <h2 class="text-gray-500 text-2xl font-semibold mb-4">Ano ang Lorem Ipsum?</h2>
       <hr>
       <p class="text-medium mb-8 text-xl leading-relaxed">
            Ang Lorem Ipsum ay ginagamit na modelo ng industriya ng pagpriprint at pagtytypeset. Ang Lorem Ipsum ang naging
           regular na modelo simula pa noong 1500s, noong may isang di kilalang manlilimbag and kumuha ng galley ng type at
           ginulo ang pagkaka-ayos nito upang makagawa ng libro ng mga type specimen. Nalagpasan nito hindi lang limang siglo,
           kundi nalagpasan din nito ang paglaganap ng electronic typesetting at nanatiling parehas. Sumikat ito noong 1960s
           kasabay ng pag labas ng Letraset sheets na mayroong mga talata ng Lorem Ipsum, at kamakailan lang sa mga desktop
           publishing software tulad ng Aldus Pagemaker ginamit ang mga bersyon ng Lorem Ipsum.
        </p>
    </div>
    <div>
        <img src="{% static 'images/mainabout1.png' %}" alt="About illustration" >
    </div>
</div>

<div class="container mx-auto mt-8 px-4 grid grid-cols-1 md:grid-cols-2 gap-8">
   <div>
        <img src="{% static 'images/mainabout2.png' %}" alt="About illustration" class="max-w-full h-auto">
    </div>
    <div class="text-left">
        <h2 class="text-gray-500 text-2xl font-semibold mb-4">Hvorfor bruger vi det?</h2>
       <hr>
       <p class="text-medium mb-8 text-xl leading-relaxed">
           Det er en kendsgerning, at man bliver distraheret af læsbart indhold på en side, når man betragter dens layout.
           Meningen med at bruge Lorem Ipsum er, at teksten indeholder mere eller mindre almindelig tekstopbygning i
           modsætning til "Tekst her - og mere tekst her", mens det samtidigt ligner almindelig tekst. Mange
           layoutprogrammer og webdesignere bruger Lorem Ipsum som fyldtekst. En søgning på Lorem Ipsum afslører mange
           websider, som stadig er på udviklingsstadiet. Der har været et utal af variationer, som er opstået enten på
           grund af fejl og andre gange med vilje (som blandt andet et resultat af humor).
        </p>
    </div>
</div>


    <div class="container mx-auto mt-8 px-4 grid grid-cols-1 md:grid-cols-2 gap-8">
   <div>
       <h2 class="text-gray-500 text-2xl font-semibold mb-4">Mistä minä saan sitä?</h2>
       <hr>
       <p class="text-medium mb-8 text-xl leading-relaxed">
           On olemassa monta eri versiota Lorem Ipsumin kappaleista, mutta suurin osa on kärsinyt muunnoksista joissain
           muodoissa, kuten huumorin tai sattumanvaraisesti asetetuin sanoin jotka eivät näytä edes vähän uskottavalta.
           Jos sinä aiot käyttää kappaletta Lorem Ipsumista, sinun pitää tarkistaa, ettei tekstin seassa ole mitään
           nolostuttavaa. Kaikki Lorem Ipsum-generaattorit Internetissä tuntuvat toistavan ennalta määriteltyjä palasia
           tarpeen mukaan, tehden tästä ensimmäisen aidon generaattorin Internetissä. Se käyttää 200 latinalaisen sanan
           sanakirjaa, johon on yhdistetty kourallinen mallilauseiden rakenteita luoden Lorem Ipsumin, joka näyttää
           järjelliseltä. Generoitu Lorem Ipsum on siten aina vapaa toistoilta, huumorilta jne.
        </p>
    </div>
    <div>
        <img src="{% static 'images/mainabout3.png' %}" alt="About illustration" >
    </div>


</div>
{% endblock content %}