{% extends 'basehomepage.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'dashboard.js' %}"></script>
    <script src="{% static 'current_date.js' %}" defer></script>
{% endblock scripts %}defer

{% block title %}
Homepage
{% endblock title %}

{%  block content%}
<p class="text-2xl" style="line-height: 1.6; background-color: #f8f9fa; padding: 15px; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <span style="color: black; font-weight: normal;">Welcome to RENTALio . Home to the best rentals. <br></span>
    <span style="color: black; font-weight: normal;">As of</span>
    <span id="current-time" style="font-style: normal; color: #007BFF; font-weight: bold;"></span>
    <span style="color: black; font-weight: normal;">we have:</span>
    <span style="font-weight: bold; color: #007BFF; margin: 0 5px;">{{ book_titles_count }}</span>
    <span style="color: black; font-weight: normal;">book titles, written by</span>
    <span style="font-weight: bold; color: #007BFF;">{{ authors_count }}</span>
    <span style="color: black; font-weight: normal;">authors. In total</span>
    <span style="font-weight: bold; color: #007BFF;">{{ book_copies_count }}</span>
    <span style="color: black; font-weight: normal;">book copies and still growing!</span>
</p>



<div style="position: absolute; left: 48%; top: 53%; transform: translate(-50%, -50%); text-align: center; z-index: 2;">
    <a href="{% url 'books:main' letter=None  %}" style="text-decoration: none;">
       <button class="bg-gradient-to-r from-cyan-500 to-blue-700 text-white p-2 rounded-lg border border-gray-300 cursor-pointer shadow-md text-2xl transition duration-300 ease-in-out hover:bg-blue-700 hover:shadow-xl">
    Start searching for books to rent
</button>

    </a>
</div>



<div style="position: absolute; left: 50%; top:40%; transform: translateX(-50%); width: 50%; text-align: center; z-index: 1;">
    <img src="{% static 'images/homepage8.png' %}" alt="Homepage photo" style="width:100%; height:auto;">
</div>





{% endblock %}