{% extends 'base2.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'dashboard.js' %}"></script>
{% endblock scripts %}defer

{% block title %}
Stats
{% endblock title %}

{%  block content%}



<div style="width: 50%; left: 50%; text-align: center; z-index: 1; transform: translateX(0%); margin: 0 auto;">
    <img src="{% static 'images/mainstats1.png' %}" alt="Homepage photo" style="width:80%; height:auto; margin-top: -10%;">
</div>


<div class=" overflow-y-auto">
    <div class="flex">
        <div class="w-1/2 p-6">
            <div class="border border-slate-200 dark:border-slate-500 rounded-lg drop-shadow-xl p-3 bg-slate1-- dark:bg-slate-700">
            <div id="desc-box1"></div>
            <canvas id="chart-box1"></canvas>
            </div>
        </div>
      <div class="w-1/2 p-6">
            <div class="border border-slate-200 dark:border-slate-500 rounded-lg drop-shadow-xl p-3 bg-slate1-- dark:bg-slate-700">
            <div id="desc-box4"></div>
            <canvas id="chart-box4"></canvas>
          </div>
        </div>
    </div>

       <div class="flex flex-wrap">
        <div class="w-1/2 p-6">
            <div class="border border-slate-200 dark:border-slate-500 rounded-lg drop-shadow-xl p-3 bg-slate1-- dark:bg-slate-700">
               <div id="desc-box2"></div>
                <canvas id="chart-box2"></canvas>
            </div>
       </div>
        <div class="w-1/2 p-6">
            <div class="border border-slate-200 dark:border-slate-500 rounded-lg drop-shadow-xl p-3 bg-slate1-- dark:bg-slate-700">
                <div id="desc-box3"></div>
                <canvas id="chart-box3"></canvas>
            </div>
        </div>
                   <div class="w-1/2 p-6">
            <div class="border border-slate-200 dark:border-slate-500 rounded-lg drop-shadow-xl p-3 bg-slate1-- dark:bg-slate-700">
                <div id="desc-box5"></div>
                <canvas id="chart-box5"></canvas>
            </div>
        </div>

                              <div class="w-1/2 p-6">
            <div class="border border-slate-200 dark:border-slate-500 rounded-lg drop-shadow-xl p-3 bg-slate1-- dark:bg-slate-700">
                <div id="desc-box6"></div>
                <canvas id="chart-box6"></canvas>
            </div>
        </div>
</div>
</div>
{% endblock %}