<div class="bg-gradient-to-r from-indigo-600 via-purple-600 to-pink-600 text-white rounded-xl mb-10 h-[80px] flex justify-between items-center px-6" id="head">

    <div class="flex-col"></div>
    <div class="text-1xl">Headquarters:{{object.headquarters}},{{object.country}}</div>
    <div class="text-3xl">{{object.name}}</div>
    <div class="text-1xl">Founded:{{object.founded}}</div>


        <div>
           {% if is_form_available %}
            <div>
                <button class="bg-transparent border-2 border-white text-white hover:bg-white hover:text-slate-900 p-3 rounded-xl text-xl" id="open-modal-btn">{{ icon }}</button>
            </div>
        {% endif %}

{% if is_go_back %}
    <div class="{% if is_form_available %}ml-3{% endif %}">
        <button onclick="history.back();" class="bg-transparent border-2 border-white text-white hover:bg-white hover:text-slate-900 p-3 rounded-xl text-xl" id="go-back-btn">
            <i class="fa-solid fa-left-long"></i>
        </button>
    </div>
{% endif %}

        </div>
</div>
